body {
  background-color: lightgray;
  font-family: Arial;
}

button {
  width: 90px;
  height: 30px;
  border: solid darkgray 4px;
  font-size: 11pt;
  font-weight: bold;
}

#result {
  border: solid black 1px;
  padding: 5px;
  width: 200px;
}

input {
  width: 150px;
  height: 18px;
  padding: 2px 5px 2px 5px;
  border: solid darkgray 4px;
  font-size: 11pt;
}

input[type="number"] {
  width: 40px;
  text-align: center;
}


div.eingaben {
  line-height: 220%;
}
